@import "~styles/colors";

.wrapper {
  display: block;
}

.button {
  position: relative;
  display: block;
  background: #FFF;
  border: 1px solid #000;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  div > & > a {
    font-family: gravur-condensed-regular, sans-serif;
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 19px 5px;
  }

  &:focus {
    outline: none;
  }

  &:active, &.active {
    background: $yrgo-red;
    color: #FFF;
    a {
      color: #FFF;
    }
  }
}

:global(.active) .button {
  background: $yrgo-red;
  a {
    color: #FFF;
  }
}
