
.wrapper{
  position: relative;
  //background: #D8D8D8;
  height: 800px;
  overflow: hidden;
}

.image {
  position: relative;
  height: 200px;
  width: 200px;

  background-size: contain;
  background-repeat: no-repeat;

  &.kalkylator {
    background-image: url('assets/images/parallax/kalkylator.svg');
  }

  &.kalkylatorShadow {
    background-image: url('assets/images/parallax/kalkylator skugga.svg');
  }

  &.kamera {
    background-image: url('assets/images/parallax/kamera.svg');
  }

  &.kameraShadow {
    background-image: url('assets/images/parallax/kamera skugga.svg');
  }

  &.matintstrument {
    background-image: url('assets/images/parallax/matintstrument.svg');
  }

  &.matintstrumentShadow {
    background-image: url('assets/images/parallax/matintstrument skugga.svg');
  }

  &.pingis {
    background-image: url('assets/images/parallax/pingis.svg');
  }

  &.pingisShadow {
    background-image: url('assets/images/parallax/pingis skugga.svg');
  }

  &.pling {
    background-image: url('assets/images/parallax/pling.svg');
  }

  &.plingShadow {
    background-image: url('assets/images/parallax/pling skugga.svg');
  }

  &.spruta {
    background-image: url('assets/images/parallax/spruta.svg');
  }

  &.sprutaShadow {
    background-image: url('assets/images/parallax/spruta skugga.svg');
  }
}

.asd{

}
