@import "~styles/variables";
@import "~bootstrap/scss/mixins";

.wrapper {
  position: relative;

  &:nth-child(odd) > .buttonWrapper{
    margin: 0 15px 31px 0;
  }
}

.buttonWrapper {
  margin: 0 0 31px 15px;
}

@include media-breakpoint-between(xs, sm) {
  .wrapper > .buttonWrapper {
    margin: 0 10px 31px 10px !important;
  }
}

.buttonWrapper {
  a {
    text-transform: uppercase;
  }
}
