.wrapper {
  position: absolute;
  top: 350px;
  width: 100%;

  text-align: center;

  font-size: 24px;
  color: #F52A3B;
  letter-spacing: 0;
}

.staticText {
  color: #000;
}

.dynamicString {

}

.dynamicText {
  position: absolute;

  padding-left: 5px;
  text-transform: uppercase;


  &.visible > span {
    opacity: 1;
    transform: translateY(0);
  }

  & > span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
    min-width: 11px;
  }
}

$num: 1;

@while $num < 20 {
    .dynamicText > span:nth-of-type(#{$num}) {
			transition-delay: 0.02s * $num;
    }

		.dynamicText.visible > span:nth-of-type(#{$num}) {
			transition-delay: 0.03s * $num + 0.05;
    }

    $num: $num + 1;
}
