.wrapper {
  margin-top: 144px;

  p {
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 22px;
  }
}

.informationRow {
  margin-top: 70px;
}

.testimonialRow {
  margin-top: 114px;
}

.descriptionHeading {
  margin-bottom: 30px;
}


.additionalInformation {
  .additionalInformationContent{
    width: 100%;
    background: #FFF;
    border: 1px solid #000000;
    padding: 44px;

    h3 {
      margin-top: 15px;
    }
  }
}
