@import "src/app/styles/colors";

.wrapper {

}

.button {
  position: relative;
  display: block;
  background: #FFF;
  border: 1px solid #000;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;

  a {
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 14px 0;
  }

  &:active, &.active {
    background: $yrgo-red;
    border: none;
    a {
      color: #FFF;
    }
  }
}
