.wrapper {

}

.imageWrapper{
  margin: 0 auto;
  max-width: 400px;
}

.image{
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100%;
}
